.StrategyPetPlatform {
  background: var(--color-grey-100);

  .StrategyPetPlatform-inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-96) 0;
  }

  .StrategyPetPlatform-topText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
  }

  .StrategyPetPlatform-label {
    margin: 0;
    color: var(--color-grey-400);
    font-family: var(--font-nanumSquareNeo);
    font-size: var(--font-size-16);
    font-weight: 600;
    line-height: 1.5;
  }

  .StrategyPetPlatform-title {
    margin: 0;
    color: var(--color-grey-900);
    font-family: var(--font-nanumSquareNeo);
    font-size: var(--font-size-48);
    font-weight: 800;
    line-height: 1.3;
  }

  .StrategyPetPlatform-description {
    margin: 0;
    color: var(--color-grey-900);
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: 1.6;
  }

  .StrategyPetPlatform-topVisual {
    width: 900px;

    img {
      width: 100%;
    }
  }

  .StrategyPetPlatform-bottom {
    padding: 0 0 var(--spacing-128);
    background: var(--color-grey-100);
  }

  .StrategyPetPlatform-bottom .PetPlatformExpansionSection-inner {
    max-width: 1280px;
    gap: var(--spacing-64);
  }

  .StrategyPetPlatform-bottom .PetPlatformExpansionSection-visual {
    width: 660px;
  }

  .StrategyPetPlatform-bottom .PetPlatformExpansionSection-title {
    font-size: var(--font-size-24);
    line-height: 1.5;
  }
}
