.GrowthPage {
  background: var(--color-white);

  .Hero {
    aspect-ratio: 1920 / 960;
  }

  .Hero-title {
    line-height: 1.1;
    text-shadow: 0 0 var(--spacing-8) rgba(0, 0, 0, 0.25);
  }

  .Hero-subtext {
    line-height: 1.6;
    text-shadow: 0 0 var(--spacing-8) rgba(0, 0, 0, 0.25);
  }

  .GrowthImpact {
    .ImpactSection-inner {
      padding: var(--spacing-96) 0;
      gap: var(--spacing-16);
    }

    .ImpactSection-header {
      gap: var(--spacing-16);
    }

    .ImpactSection-metricsGrid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: var(--spacing-96);
    }

    .ImpactSection-footer {
      white-space: pre-line;
    }
  }

  .GrowthGoals {
    padding: var(--spacing-128) 0;

    .SectionCardGrid-grid {
      align-items: end;
    }

    .SectionCardGrid-cardTitle {
      font-family: var(--font-nanumSquareNeo);
      font-size: var(--font-size-24);
      font-weight: 700;
      line-height: 1.5;
      color: var(--color-grey-900);
    }

    .SectionCardGrid-card--plain {
      position: relative;
      display: flex;
      flex-direction: column;

      .SectionCardGrid-cardText {
        order: -1;
      }
    }
  }
}
