.SubHero {
  .SubHero-text {
    white-space: pre-line;
  }

  .SubHero-text--light {
    color: var(--color-black);
  }

  .SubHero-text--dark {
    color: var(--color-white);
  }

  .SubHero-title {
    margin: 0;
    font-family: var(--font-nanumSquareNeo);
    font-size: var(--font-size-128);
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    white-space: pre-line;
  }

  .SubHero-subtext {
    margin-top: var(--spacing-16);
    font-family: var(--font-sans);
    font-size: var(--font-size-18);
    font-weight: 500;
    line-height: 1;
    white-space: pre-line;
  }
}

@media (max-width: 1280px) {
  .SubHero {
    .SubHero-title {
      font-size: 60px;
    }
  }
}
