/* 미디어(비디오 또는 이미지) 블록 - 단독 또는 MediaSlide 상단 - 네스팅 */

.Media {
  width: 100%;
  position: relative;
  overflow: hidden;

  & video,
  & img {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, #000 100%) no-repeat;
    z-index: 2;
  }
  & .Media-text-overlay {
    position: absolute;
    bottom: var(--spacing-128);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    z-index: 3;
  }
}
