.StrategyPage {
  background: var(--color-white);

  .Hero {
    aspect-ratio: 1920 / 960;
  }

  .Hero-title {
    line-height: 1.1;
    text-shadow: 0 0 var(--spacing-8) rgba(0, 0, 0, 0.25);
  }

  .Hero-subtext {
    line-height: 1.6;
    text-shadow: 0 0 var(--spacing-8) rgba(0, 0, 0, 0.25);
  }
}
