.StrategyPage {
  background: var(--color-white);

  .SubHero {
    .Hero {
      aspect-ratio: 1920 / 960;
    }
  }

  .SubHero-title {
    line-height: 1.1;
    text-shadow: 0 0 var(--spacing-8) rgba(0, 0, 0, 0.25);
  }

  .SubHero-subtext {
    line-height: 1.6;
    text-shadow: 0 0 var(--spacing-8) rgba(0, 0, 0, 0.25);
  }
}
