.Contribution1004 {
  position: relative;
  width: 100%;
  background: var(--color-grey-100);

  .Contribution1004-darkBlock {
    position: relative;
    height: 720px;
    overflow: hidden;
  }

  .Contribution1004-bg {
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .Contribution1004-inner {
    height: 100%;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--spacing-96) 0;
    display: flex;
    align-items: flex-start;
  }

  .Contribution1004-content {
    color: var(--color-black);
  }

  .Contribution1004-title {
    font-size: var(--font-size-80);
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: var(--spacing-40);
    text-transform: uppercase;
    font-family: var(--font-sans);
  }

  .Contribution1004-description {
    font-size: var(--font-size-18);
    font-weight: 500;
    line-height: 1.8;
  }
}

@media all and (min-width: 1921px) {
  .Contribution1004 {
    .Contribution1004-inner {
      padding: var(--spacing-128) 0;
    }
  }
}
