.PageNavigation {
  min-height: 96px;
  background: var(--color-grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageNavigation-inner {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-20) 0;
}

.PageNavigation-group {
  display: flex;
  align-items: center;
  gap: var(--spacing-24);
}

.PageNavigation-direction {
  font-family: var(--font-nanumSquareNeo);
  font-size: var(--font-size-24);
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-white);
}

.PageNavigation-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: 99px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.2);
  font-family: var(--font-nanumSquareNeo);
  font-size: var(--font-size-16);
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-white);
}

.PageNavigation-chipArrow {
  display: none;
  font-size: var(--font-size-24);
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--font-nanumSquareNeo);
}

@media (max-width: 1376px) {
  .PageNavigation-inner {
    max-width: 100%;
    padding-left: var(--spacing-48);
    padding-right: var(--spacing-48);
  }
}

@media (max-width: 768px) {
  .PageNavigation-inner {
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
  }

  .PageNavigation-group {
    gap: var(--spacing-8);
  }

  .PageNavigation-chip {
    padding: var(--spacing-12) var(--spacing-16);
    font-size: 12px;
    font-family: var(--font-nanumSquareNeo);
  }

  .PageNavigation-direction {
    display: none;
  }

  .PageNavigation-chipArrow {
    display: inline-block;
    font-size: 14px;
  }

  .PageNavigation-direction {
    font-size: var(--font-size-24);
    line-height: 1.5;
  }
}
